.align-center {
    text-align: center;
  }

  .space-between-images img {
    margin-right: 10px;
  }

  .caption {
    font-size: 21px;
    color: gray;
  }

  .p-text {
    font-size: 22px;
  }

  .main {
    width: 580px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .img-main {
    width: 300px;
    height: 300px;
  }